.signUpAndLogInButton {
  padding: 20px;
  min-width: 100%;
  width: 100%;
  border: none;
  letter-spacing: 1.25px;
  cursor: pointer;
  margin: 5% 0;
  text-transform: uppercase;
}

.loginButton {
  background-color: black;
  color: white;
}
.signupButton {
  background-color: #66ffa6;
  color: black;
}

.submitButton {
  margin-top: 40px;
  background-color: #66ffa6;
  color: black;
}
.continueButton {
  background-color: #66ffa6;
  color: black;
}
