.upperSite {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  top: 0;
  height: 60px;
  align-items: center;
  padding: 0 10%;

  button {
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    border: solid gold 2px;
    padding: 15px;
    border-radius: 15px;
  }
}
